<div class="panel-body">
    <div class="row" *ngIf="newNote">
        <div class="row  classWithPadSide">
            <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
                <button type="button" class="btn btn-default" (click)="back()">Back</button>
                <br>
                <div class="form-group">
                    <label for="power">Select Note</label>
                    <select class="form-control" id="noteType" [(ngModel)]="model.noteType" name="noteType" #noteType="ngModel" required>
                        <option *ngFor="let item of allOptionForNewNote" [value]="item.id">{{item.type}}</option>
                    </select>
                    <div [hidden]="noteType.valid || noteType.pristine" class="alert alert-danger">
                        Note is required
                    </div>
                </div>

                <div class="form-group" style="height: 50%">
                    <label for="note">Note</label>
                    <div [froalaEditor] id="note" name="note" #note="ngModel" [(ngModel)]="model.note"></div>
                </div>

                <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">{{sendType}}</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </form>
        </div>
    </div>
    <div class="container-fluid" *ngIf="hideDetal">

        <div class="row">
            <div class="col-sm-1">
                <b> Historical Notes</b>
            </div>

            <div class="col-sm-9">
                <select class="form-control" #select (change)="filterNotes(select.value)">
                    <option *ngFor="let item of allSearchType"  [value]="item.id">{{item.type}}</option>
                </select>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-default" >
                    Back
                </button>
                <button type="button" class="btn btn-default" (click)="Show($event)">
                    <span class="glyphicon glyphicon-plus"></span> Add New
                </button>
            </div>
        </div>
    </div>
    <br>

    <div class="row" *ngIf="hideDetal">
        <div class="col-md-12 ">
            <div class="row table-condensed classWithPadSide">
                <ng-table class="sortable " [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
                </ng-table>
            </div>
            <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
            </pagination>
        </div>
    </div>

</div>