ul.nav li a,
ul.nav li a:visited {
    color: #fff !important;
}

ul.nav li a:hover,
ul.nav li a:active {
    color: #fff !important;
}

ul.nav li.active a {
    color: #fff !important;
}

ul.unstyled li a {
    color: #fff;
}