<!-- main app container -->
<div class="container-fluid">
    <alert></alert>
</div>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading ">
            <div class="row">
                <div class="column col-md-4">
                    <h5>{{patient}}</h5>
                </div>
                <div class="column col-md-4" align="center">
                    
                    <h4><p *ngIf="hide">Welcome {{userName}}</p><p *ngIf="!hide">{{loginMessage}}</p></h4>
                </div>
                <!--used the condition-->
                <!--  -->
                <div *ngIf="hide" class="column col-md-4 text-right" style="padding-top: 10px;" >
                    &nbsp; 
                    <button type="button" class="btn btn-warning">
                        <a [routerLink]="['/login']" class="color-anchor" (click)="logout($event)">Logout</a>
                    </button>
                    &nbsp; 
                    <!-- Indicates a dangerous or potentially negative action -->
                    <button type="button" class="btn btn-success">
                        <a [routerLink]="['/register']" class="color-anchor">Register</a>
                    </button>
                    
                </div>
            </div>
        </div>
        <br>
        <router-outlet></router-outlet>
    </div>
</div>
