<div class="container">
    <br>
    <div class="container">
        <form #f="ngForm" novalidate (ngSubmit)="updatePassword(f.value, f.valid)">
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" class="form-control" name="email" [ngModel]="updateDocterPass.email" #email="ngModel" disabled>
            </div>
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" class="form-control" name="username" [ngModel]="updateDocterPass.username"  #username="ngModel" disabled>
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control" name="password" [ngModel]="updateDocterPass.password" 
                    required validateEqual="confirmPassword" reverse="true" #password="ngModel" minlength="7" maxlength="25">
                <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
                    Password is required (minimum 7 characters).
                </small>
            </div>
            <div class="form-group">
                <label for="">Retype password</label>
                <input type="password" class="form-control" name="confirmPassword" [ngModel]="updateDocterPass.confirmPassword" 
                    required validateEqual="password" reverse="false" #confirmPassword="ngModel">
                <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
                    Password mismatch
                </small>
            </div>
            <div class="form-group text-right">
                <br>
                <button [disabled]="loading" type="submit" class="btn btn-info-" >Update</button>
                <img *ngIf="loading" [src]="image" />
                <a [routerLink]="['/app-login']" class="btn btn-link">Cancel</a>
            </div>
    </form>
    </div>
</div>
<br><br>