<div class="container">
    <div class="row">
        <div class="col-sm-4"><h2>Register Patient</h2></div>
        <div class="col-sm-8 text-right" style="padding-top: 20px; width: 65%;">
            <button type="button" class="btn btn-default" [routerLink]="['/app-home']">Back</button> 
        </div>
    </div>

    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate style="margin-right: 25px;">
    
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required />
            <div *ngIf="f.submitted && !name.valid" class="help-block">Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone.valid }">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" name="phone" [(ngModel)]="model.phone" #phone="ngModel" required />
            <div *ngIf="f.submitted && !phone.valid" class="help-block">Phone is required</div>
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" class="form-control" name="age" [(ngModel)]="model.age" #age="ngModel"  />
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <img *ngIf="loadinglogin" [src]="image"/>
            <button type="reset" value="Reset" class="btn btn-link">Reset</button>
        </div>
    </form>
</div>