<div class="panel-body">
    <div class="row">
        <div class="col-sm-10">
            <input *ngIf="config.filtering" placeholder="Search record by Mr# or Name or phone Number" [ngTableFiltering]="config.filtering" class="form-control" (tableChanged)="onChangeTable(config)" />
        </div>
    </div>
    <br>
    <div class="row-fluid">
        <div>
            <ng-table class="sortable" [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
            </ng-table>
        </div>
        <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
        </pagination>
    </div>

</div>