<div class="container" *ngIf="show">
    <div class="row">
        <div class="col-sm-4"><h2>Register Doctor</h2></div>
        <div class="col-sm-8 text-right" style="padding-top: 20px; width: 65%;">
            <button type="button" class="btn btn-default" [routerLink]="['/home']">Back</button> 
            <button type="button" class="btn btn-default" (click)="showhide($event)">
                <span class="glyphicon glyphicon-plus"></span>
                Add New Type
            </button>
        </div>
    </div>
    <br>


    <div class="container">
        <form #f="ngForm" novalidate (ngSubmit)="registerDoctor(f.value, f.valid)">
            <div class="form-group"> 
                <label for="roles">Select Role</label><br>
                <angular2-multiselect [data]="dropdownList" name="roles" [(ngModel)]="newDocter.roles" #roles="ngModel" [settings]="dropdownSettings" >
                </angular2-multiselect>
            </div>  

            <div class="form-group">
                <label for="">First Name</label>
                <input type="text" class="form-control" name="firstname" [ngModel]="newDocter.firstname" required  #firstname="ngModel">
                <small [hidden]="firstname.valid || (firstname.pristine && !f.submitted)" class="text-danger">
                    First Name required
                </small>
            </div>
            <div class="form-group">
                <label for="">Last Name</label>
                <input type="text" class="form-control" name="lastname" [ngModel]="newDocter.lastname" required  #lastname="ngModel">
                <small [hidden]="lastname.valid || (lastname.pristine && !f.submitted)" class="text-danger">
                    Last Name required
                </small>
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" class="form-control" name="email" [ngModel]="newDocter.email" 
                    required  #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                <small [hidden]="email.valid || (email.pristine && !f.submitted)" class="text-danger">
                    Email is required and format should be <i>nabeel@ballistic.com</i>.
                </small>
            </div>
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" class="form-control" name="username" [ngModel]="newDocter.username" 
                    required minlength="7" maxlength="25" #username="ngModel">
                <small [hidden]="username.valid || (username.pristine && !f.submitted)" class="text-danger">
                    Username is required (minimum 7 characters).
                </small>
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control" name="password" [ngModel]="newDocter.password" 
                    required validateEqual="confirmPassword" reverse="true" #password="ngModel" minlength="7" maxlength="25">
                <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
                    Password is required (minimum 7 characters).
                </small>
            </div>
            <div class="form-group">
                <label for="">Retype password</label>
                <input type="password" class="form-control" name="confirmPassword" [ngModel]="newDocter.confirmPassword" 
                    required validateEqual="password" reverse="false" #confirmPassword="ngModel">
                <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
                    Password mismatch
                </small>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !doctorType.valid }">
                        <label for="doctorType">Doctor Type</label>
                        <select class="form-control" id="doctorType" [(ngModel)]="newDocter.doctorType" name="doctorType" #doctorType="ngModel" required>
                            <option *ngFor="let doctorType of allDoctorType" [value]="doctorType.id">{{doctorType.type}}</option>
                        </select>
                        <div *ngIf="f.submitted && !doctorType.valid" class="help-block">
                            Type is required
                        </div>
                    </div>
                </div> 
                <div class="col-sm-3" style="padding-top: 25px;"> 
                    <div class="form-group">
                        <label for="radio">Gender :</label>
                        <input style="width: 25px; height: 25px"  type="radio" value="true" name="gender" id="gender" [(ngModel)]="newDocter.gender" required>
                        <label style="margin-left: 5px; margin-top: 2px;"> Male </label>
                        <input style="width: 25px; height: 25px" type="radio" value="false" name="gender" id="gender" [(ngModel)]="newDocter.gender">
                        <label style="margin-left: 5px; margin-top: 2px;"> Female </label>
                    </div>  
                </div>
                <div class="col-sm-3" style="padding-top: 25px;">
                    <div class="form-group">
                        <span class="checkboxtext" > User Active or Not
                            <input type="checkbox" style="margin-left: 20px;" name="active" [(ngModel)]="newDocter.active" #active="ngModel" checked />
                        </span>
                    </div>
                </div> 
            </div>
            <div class="form-group text-right">
                <br>
                <button [disabled]="loading" type="submit" class="btn btn-primary" >Register</button>
                <img *ngIf="loading" [src]="image" />
                <a [routerLink]="['/home']" class="btn btn-link">Cancel</a>
            </div>
    </form>
    </div>
</div>
<!--  -->
<!--new doc-type-->
<div class="container" *ngIf="!show">
    <div class="row">
        <div class="col-sm-4"><h2>Register Doctor Type</h2></div>
        <div class="col-sm-8 text-right" style="padding-top: 20px; width: 65%;">
            <button type="button" class="btn btn-default" (click)="showhide($event)">Back</button> 
        </div>
    </div>
    <form name="formDoctorType" (ngSubmit)="f.form.valid && registerDoctorType()" #f="ngForm" novalidate style="margin-right: 25px;">
        <!--type ok-->
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !type.valid }">
            <label for="type">Doctor Type</label>
            <input type="text" class="form-control" name="type" [(ngModel)]="newDocterType.dtype" #type="ngModel" required />
            <div *ngIf="f.submitted && !type.valid" class="help-block">Docter Type required</div>
        </div> 
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <img *ngIf="loading" [src]="image" />
            <a [routerLink]="['/home']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>

<br>
<br>