<div class="container" *ngIf="show">
    <div class="row">
        <div class="col-sm-4"><h2>Register Doctor</h2></div>
        <div class="col-sm-8 text-right" style="padding-top: 20px; width: 65%;">
            <button type="button" class="btn btn-default" [routerLink]="['/home']">Back</button> 
            <button type="button" class="btn btn-default" (click)="showhide($event)">
                <span class="glyphicon glyphicon-plus"></span>
                Add New Type
            </button>
        </div>
    </div>
    <br>
    <div class="row" >
        <div class="col-sm-10">
             <label for="roles">Select Role</label><br>
            <angular2-multiselect [data]="dropdownList"
                    name="roles" [(ngModel)]="newDocter.roles" #roles="ngModel" 
                    [settings]="dropdownSettings" ></angular2-multiselect>
        </div>
    </div>
    <br>
    <form name="newDoctorform" (ngSubmit)="f.form.valid && registerDoctor()" #f="ngForm" novalidate style="margin-right: 25px;"> 
        
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="newDocter.email" 
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel" required />
            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        </div> 
        <!--email ok-->
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="newDocter.email" 
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel" required />
            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        </div>  
        <!--first name ok-->
         <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="newDocter.firstName" #firstName="ngModel" required />
            <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
        </div> 
        <!-- last name ok-->
         <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="newDocter.lastName" #lastName="ngModel" required />
            <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
        </div> 
        <!-- user name ok-->
         <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userName.valid }">
            <label for="userName">UserName</label>
            <input type="text" class="form-control" name="userName" [(ngModel)]="newDocter.userName" #userName="ngModel" required />
            <div *ngIf="f.submitted && !userName.valid" class="help-block">UserName is required</div>
        </div> 
        <!-- pass word ok-->
         <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !passWord.valid }">
            <label for="passWord">Password</label>
            <input type="password" class="form-control" name="passWord" [(ngModel)]="newDocter.passWord" #passWord="ngModel" required />
            <div *ngIf="f.submitted && !passWord.valid" class="help-block">Password is required</div>
        </div> 

        <!--doctor type ok -->
         <div class="row">
            <div class="col-sm-6">
                 <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !doctorType.valid }">
                     <label for="doctorType">Doctor Type</label>
                     <select class="form-control" id="doctorType" [(ngModel)]="newDocter.doctorType" name="doctorType" #type="ngModel" required>
                         <option *ngFor="let doctorType of allDoctorType" [value]="doctorType.id">{{doctorType.type}}</option>
                    </select>
                    <div *ngIf="f.submitted && !type.valid" class="help-block">Type is required</div>
                </div>
            </div>
            <div class="col-sm-3" style="padding-top: 25px;"> 
                <!--gender -->
                 <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !gender.valid }">
                    <label for="radio">Gender :</label>
                    <label>
                        <input type="radio" value="1" name="gender" id="gender" [(ngModel)]="newDocter.gender" required #gender="ngModel" checked>Male
                    </label>
                    <label>
                        <input type="radio" value="0" name="gender" id="gender" [(ngModel)]="newDocter.gender" required #gender="ngModel"> Female
                    </label>
                    <div *ngIf="f.submitted && !gender.valid" class="help-block">Type is required</div>
                </div>  
            </div>
            <div class="col-sm-3" style="padding-top: 25px;"> 
                <div class="form-group">
                    <span class="checkboxtext" > User Active or Not 
                        <input type="checkbox" style="margin-left: 20px;" name="active" [(ngModel)]="newDocter.active" #active="ngModel" checked />
                    </span>
                </div>
            </div>
        </div>
          
            
        <div class="form-group text-right" >
            <br>
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <img *ngIf="loading" [src]="image" />
            <a [routerLink]="['/home']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div> 
 


<!--new doc-type-->
<div class="container" *ngIf="!show">
    <div class="row">
        <div class="col-sm-4"><h2>Register Doctor Type</h2></div>
        <div class="col-sm-8 text-right" style="padding-top: 20px; width: 65%;">
            <button type="button" class="btn btn-default" (click)="showhide($event)">Back</button> 
        </div>
    </div>
    <form name="formDoctorType" (ngSubmit)="f.form.valid && registerDoctorType()" #f="ngForm" novalidate style="margin-right: 25px;">
        <!--type ok-->
         <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !type.valid }">
            <label for="type">Doctor Type</label>
            <input type="text" class="form-control" name="type" [(ngModel)]="newDocterType.dtype" #type="ngModel" required />
            <div *ngIf="f.submitted && !type.valid" class="help-block">Docter Type required</div>
        </div> 
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <img *ngIf="loading" [src]="image" />
            <a [routerLink]="['/home']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
